pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SqlServer_OnPrem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "BBP-OHSQLTST-01\\RENTS",
						"DatabaseName": "OH_D365_Config_DEV"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "RecordCount",
									"type": "Int32",
									"value": null,
									"direction": "Output"
								}
							],
							"type": "Query",
							"text": {
								"value": "@concat('select @RecordCount = count(*) from d365.', 'phg_property')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varRecordCount",
					"value": {
						"value": "@activity('Script1').output.outputParameters.RecordCount",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varRecordCount": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "OH_D365_DataSync"
		},
		"annotations": []
	}
}